canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

form {
    z-index: 3;
    position: fixed;
    top: 300;
    left: 100;
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
    color:white;
}

form * {
    margin-bottom: 1em;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    form * {
        font-size: 1.5em;
    }
}

body {
    background-image: url('http://www.publicdomainpictures.net/download-picture.php?adresar=50000&soubor=notebook-page.jpg');
    font-family: sans-serif;
    padding: 1em;
}

#clear {
    display: none;
}